
.banner
{
    background-color: rgb(92, 47, 84);
    

}

.contenu{
    height: 100%;
    
}
.intro{
    text-align: left;
    color: darkgrey;
   
}

article{
    
    text-align: center;
}

.result
{
    
    color : rgb(92, 47, 84);
   
}


